# {{ ctx.labels.title }}

## {{ ctx.labels.project_summary }}
| | |
|---|---|
| {{ ctx.labels.project_name }} | {{ ctx.project_summary.project_name }} |
| {{ ctx.labels.estimate_type }} | {{ ctx.project_summary.estimate_type }} |
| {{ ctx.labels.client_name }} | {{ ctx.project_summary.client_name }} |
| {{ ctx.labels.estimate_id }} | {{ ctx.project_summary.estimate_id }} |
| {{ ctx.labels.export_revision }} | {{ ctx.project_summary.export_revision }} |
| {{ ctx.labels.generated_date }} | {{ ctx.project_summary.generated_date }} |
| {{ ctx.labels.estimate_creator }} | {{ ctx.project_summary.estimate_creator }} |

## {{ ctx.labels.executive_cost_summary }}
| | |
|---|---|
{% include '_pricing_summary.md.j2' %}
| {{ ctx.labels.maintenance_cost_monthly_annual }} | {{ ctx.executive_display.maintenance_cost_display }} |
| {{ ctx.labels.development_period }} | {{ ctx.executive_display.development_period_display }} |

## {{ ctx.labels.questionnaire }}
{%- if ctx.questionnaire_sections %}
{%- for section in ctx.questionnaire_sections %}
### {{ section.title }}
| | |
|---|---|
{%- for field in section.fields %}
| {{ field.label }} | {{ field.value }} |
{%- endfor %}
{%- endfor %}
{%- else %}
- {{ ctx.labels.none }}
{%- endif %}

{%- set req_sections = [
  (ctx.labels.functional_requirements, ctx.extracted.functional_requirements),
  (ctx.labels.non_functional_requirements, ctx.extracted.non_functional_requirements),
  (ctx.labels.modules, ctx.extracted.modules),
  (ctx.labels.user_roles, ctx.extracted.user_roles),
  (ctx.labels.external_systems, ctx.extracted.external_systems),
] -%}
{%- set has_requirements = false -%}
{%- for _title, items in req_sections -%}
{%- if items -%}
{%- set has_requirements = true -%}
{%- endif -%}
{%- endfor -%}
{%- if has_requirements -%}
{%- for title, items in req_sections -%}
{%- if items %}
## {{ title }}
{%- for item in items %}
- {{ item }}
{%- endfor %}
{%- endif -%}
{%- endfor -%}
{%- else %}
## {{ ctx.labels.functional_requirements }}
- {{ ctx.labels.none }}
{%- endif %}

## {{ ctx.labels.feature_items }}
| {{ ctx.labels.feature_name }} | {{ ctx.labels.feature_description }} | {{ ctx.labels.feature_phase }} | {{ ctx.labels.feature_role }} | {{ ctx.labels.feature_hours }} | {{ ctx.labels.feature_days }} |
|---|---|---|---|---:|---:|
{%- for item in ctx.feature_items %}
| {{ item.name }} | {{ item.description }} | {{ item.phase }} | {{ item.role }} | {{ format_hours(item.hours) }} | {{ format_effort_days(item.hours) }} |
{%- endfor %}

## {{ ctx.labels.effort_summary }}
| | |
|---|---:|
| {{ ctx.labels.total_hours }} | {{ format_hours(ctx.effort_summary.total_hours) }} |
| {{ ctx.labels.total_days }} | {{ format_effort_days(ctx.effort_summary.total_hours) }} |
| {{ ctx.labels.estimated_duration }} | {{ format_person_days(ctx.effort_summary.estimated_duration_days) }} {{ ctx.labels.days }} |

{%- if ctx.gantt and ctx.gantt.tasks %}
## {{ ctx.labels.gantt_title }}
{{ ctx.labels.gantt_assumption }}
| | |
|---|---|
| {{ ctx.labels.gantt_project_start }} | {{ ctx.gantt.project_start_date }} |
| {{ ctx.labels.gantt_project_end }} | {{ ctx.gantt.project_end_date }} |
| {{ ctx.labels.gantt_total_working_days }} | {{ ctx.gantt.total_working_days }} |
{%- endif %}

## {{ ctx.labels.nrc_detailed }}
| {{ ctx.labels.category }} | {{ ctx.labels.item }} | {{ ctx.labels.cost }} |
|---|---|---:|
{%- for row in ctx.calculation.nrc_line_items %}
| {{ row.category }} | {{ row.item }} | {{ format_currency(row.cost_jpy) }} |
{%- endfor %}
| {{ ctx.labels.nrc_total }} | | {{ format_currency(ctx.executive_summary.nrc_total_jpy) }} |

## {{ ctx.labels.rc_detailed }}
| {{ ctx.labels.category }} | {{ ctx.labels.service_description }} | {{ ctx.labels.monthly }} | {{ ctx.labels.annual }} |
|---|---|---:|---:|
{%- for row in ctx.rc_breakdown.line_items %}
| {{ row.category }} | {{ row.service_description or row.item }} | {{ format_currency(row.monthly_jpy) }} | {{ format_currency(row.annual_jpy) }} |
{%- endfor %}
| {{ ctx.labels.monthly_total }} | | {{ format_currency(ctx.rc_breakdown.monthly_total_jpy) }} | |
| {{ ctx.labels.annual_total }} | | | {{ format_currency(ctx.rc_breakdown.annual_total_jpy) }} |

## {{ ctx.labels.estimate_exclusions }}
{%- if ctx.extracted.estimate_exclusions %}
{%- for item in ctx.extracted.estimate_exclusions %}
- {{ item }}
{%- endfor %}
{%- else %}
- {{ ctx.labels.none }}
{%- endif %}

## {{ ctx.labels.approval }}
- {{ ctx.labels.prepared_by }}: {{ ctx.labels.prepared_by_value }}
- {{ ctx.labels.reviewed_by }}:
- {{ ctx.labels.approved_by }}:
- {{ ctx.labels.approval_date }}:
