# {{ labels.title }}

## {{ labels.project_summary }}

| | |
|---|---|
| {{ labels.project_name }} | {{ project_name }} |
| {{ labels.client_name }} | {{ client_name }} |
| {{ labels.generated_date }} | {{ generated_date }} |

## {{ labels.input_assumptions }}

{% if form_fields %}
{% for field in form_fields %}
### {{ field.label }}

{{ field.value }}

{% endfor %}
{% else %}
_{{ labels.none }}_
{% endif %}

## {{ labels.extracted_requirements }}

{% if extracted.functional_requirements %}
### {{ labels.functional_requirements }}

{% for item in extracted.functional_requirements %}
- {{ item }}
{% endfor %}
{% endif %}

{% if extracted.non_functional_requirements %}
### {{ labels.non_functional_requirements }}

{% for item in extracted.non_functional_requirements %}
- {{ item }}
{% endfor %}
{% endif %}

{% if extracted.user_roles %}
### {{ labels.user_roles }}

{% for item in extracted.user_roles %}
- {{ item }}
{% endfor %}
{% endif %}

{% if extracted.modules %}
### {{ labels.modules }}

{% for item in extracted.modules %}
- {{ item }}
{% endfor %}
{% endif %}

{% if extracted.external_systems %}
### {{ labels.external_systems }}

{% for item in extracted.external_systems %}
- {{ item }}
{% endfor %}
{% endif %}

{% if not extracted.functional_requirements and not extracted.non_functional_requirements and not extracted.user_roles and not extracted.modules and not extracted.external_systems %}
_{{ labels.none }}_
{% endif %}

## {{ labels.feature_items }}

| {{ labels.feature_name }} | {{ labels.feature_description }} | {{ labels.feature_phase }} | {{ labels.feature_role }} | {{ labels.feature_hours }} | {{ labels.feature_days }} |
|---|---|---|---|---:|---:|
{% for item in feature_items %}
| {{ item.name }} | {{ item.description }} | {{ item.phase }} | {{ item.role }} | {{ format_hours(item.hours) }} | {{ format_effort_days(item.hours) }} |
{% endfor %}

## {{ labels.effort_summary }}

| | |
|---|---|
| {{ labels.total_hours }} | {{ format_hours(calculation.total_effort_hours) }} |
| {{ labels.total_days }} | {{ format_effort_days(calculation.total_effort_hours) }} |

## {{ labels.phase_breakdown }}

| {{ labels.phase }} | {{ labels.hours }} | {{ labels.percentage }} |
|---|---:|---:|
{% for row in calculation.phase_breakdown %}
| {{ row.phase }} | {{ format_hours(row.hours) }} | {{ "%.0f"|format(row.percentage * 100) }}% |
{% endfor %}

## {{ labels.role_breakdown }}

| {{ labels.role }} | {{ labels.hours }} | {{ labels.rate }} | {{ labels.cost }} |
|---|---:|---:|---:|
{% for row in calculation.role_breakdown %}
| {{ row.role }} | {{ format_hours(row.hours) }} | {{ format_currency(row.rate_jpy) }} | {{ format_currency(row.cost_jpy) }} |
{% endfor %}

## {{ labels.nrc_breakdown }}

| | |
|---|---:|
| {{ labels.labor }} | {{ format_currency(calculation.nrc.labor_jpy) }} |
| {{ labels.setup }} | {{ format_currency(calculation.nrc.setup_jpy) }} |
| {{ labels.contingency }} | {{ format_currency(calculation.nrc.contingency_jpy) }} |
| {{ labels.overhead }} | {{ format_currency(calculation.nrc.overhead_jpy) }} |
| **{{ labels.nrc_total }}** | **{{ format_currency(calculation.nrc.total_jpy) }}** |

## {{ labels.rc_breakdown }}

| {{ labels.monthly_items }} | |
|---|---:|
{% for item in calculation.rc.monthly_items %}
| {{ item.name }} | {{ format_currency(item.amount_jpy) }} |
{% endfor %}
| {{ labels.maintenance }} | {{ format_currency(calculation.rc.maintenance_jpy) }} |
| **{{ labels.monthly_total }}** | **{{ format_currency(calculation.rc.monthly_total_jpy) }}** |
| **{{ labels.annual_total }}** | **{{ format_currency(calculation.rc.annual_total_jpy) }}** |

## {{ labels.first_year_total }}

**{{ format_currency(calculation.first_year_total_jpy) }}**

## {{ labels.risks_gaps }}

{% if extracted.risks %}
### {{ labels.risks }}

{% for item in extracted.risks %}
- {{ item }}
{% endfor %}
{% endif %}

{% if extracted.gaps %}
### {{ labels.gaps }}

{% for item in extracted.gaps %}
- {{ item }}
{% endfor %}
{% endif %}

{% if not extracted.risks and not extracted.gaps %}
_{{ labels.none }}_
{% endif %}

## {{ labels.confidence_notes }}

{% if extracted.confidence_notes %}
{{ extracted.confidence_notes }}
{% else %}
_{{ labels.none }}_
{% endif %}

## {{ labels.rate_card_reference }}

| | |
|---|---|
| {{ labels.rate_card_name }} | {{ rate_card_name or labels.none }} |
| {{ labels.rate_card_version }} | {% if rate_card_version_number is not none %}{{ rate_card_version_number }}{% else %}{{ labels.none }}{% endif %} |
